.five_section{
    margin-top: 220px;
    position: relative;
}
.five_section .contant_area{
    text-align: center;
}
.five_section .contant_area p{
    text-transform: uppercase;
    font-size: 14px;
}
.five_section .contant_area h2{
    line-height: 35px;
    font-size: 35px;
    text-transform: capitalize;
}
.five_section .flex-box .left img.grad{
    position: absolute;
    left: 150px;
}
.five_section .flex-box .left img.group{
    width: 90%;
    height: 400px;
    position: absolute;
    left: 150px;
    top: 60px;
    z-index: 9;
}
.five_section .flex-box .contant h3{
    font-size: 22px;
    text-transform: capitalize;
    line-height: 25px;
}

.five_section .flex-box .contant p{
    font-size: 13px;
}
.five_section .flex-box .contant span{
    font-weight: 600;
    line-height: 40px;
}