.Fourthlandingpage{
    margin-top: 80px;
}
.flex-box .contant{
    margin-top: 120px;
    margin-right: 70px;
}
.flex-box .contant .stra_icon{
    display: flex;
    align-items: center;
    gap: 15px;
}
.flex-box .left2{
    margin-left: 70px;
    margin-top: -30px;
}
.flex-box .contant .stra_icon .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF5555;
}
.flex-box .contant .stra_icon .circle i{
    font-size: 18px;
    color: #fff;
    padding: 6px;
}
.flex-box .contant p{
    margin-top: 15px;
    font-size: 14px;
    color: gray;
}